body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(to right, #a1c4fd, #c2e9fb);
      margin: 0;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: 40px;
      color: #1d39d7;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 25px;
      color: black;
      margin-bottom: 20px;
    }